body{
	font-family: "Roboto", sans-serif;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background: yellow;
	transition: all .5s ease;
}

.sidebar header{
	font-size: 18px;
	color: black;
	text-align: center;
	line-height: 70px;
	background: yellow;
	border-bottom: 1px solid black;
	user-select: none;
}

.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 17px;
	color: black;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	transition: .4s;
}

ul li:hover a{
	padding-left: 50px;	
}

.sidebar ul a i{
	margin-right: 16px;
}

#check{
	display: none;
}

label #btn,label #cancel{
	position: absolute;
	cursor: pointer;
	background: yellow;
	border-radius: 3px;
}

label #btn{
	left: 40px;
	top: 25px;
	font-size: 35px;
	color: black;
	padding: 6px 12px;
	transition: all .5s;
}

label #cancel{
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 30px;
	color: black;
	padding: 4px 9px;
	transition: all .5s ease;
}

#check:checked ~ .sidebar{
	left: 0;
}

#check:checked ~ label #btn{
	left: 250px;
	opacity: 0;
	pointer-events: none;
}

#check:checked ~ label #cancel{
	left: 195px;
}

#check:checked ~ section{
	margin-left: 250px;
}

section{
	background: url(../pic1.jpeg) no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	transition: all .5s ease;
}

h1{
    line-height: 100px;
    position: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-size: 64px;
    -webkit-text-stroke: 2px white;
}

h1 span{
	color: yellow;
	-webkit-text-stroke: 2px black;
}

.show-btn{
	background: yellow;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: 500;
	color: black;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.show-btn, .container{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type="checkbox"]{
	display: none;
}

.container{
	position: center;
	display: none;
	background: yellow;
	width: 410px;
	padding: 30px;
	box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

#show:checked ~ .container{
	display: block; 
}

.container .close-btn{
	position: absolute;
	right: 20px;
	top: 15px;
	font-size: 18px;
	cursor: pointer;
}

.container .close-btn:hover{
	color: white;
}

.container .text{
	font-size: 35px;
	font-weight: 600;
	text-align: center;
}